[global_config]
[keybindings]
[profiles]
  [[default]]
    audible_bell = True
    visible_bell = True
    cursor_color = "#aaaaaa"
    font = Monospace Bold 16
    scrollback_infinite = True
    disable_mousewheel_zoom = True
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
